 
 @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat+Alternates:wght@100&family=Noto+Serif&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Poiret+One&family=Poppins:ital,wght@1,300&family=Roboto&display=swap');
 :root{
     --main-color: rgb(234, 191, 139);
 }
 *{
     font-family: 'Poiret One', sans-serif;
 }
 html{
     font-size: 100%;
     overflow-x: hidden;
     scroll-behavior: smooth;
 }
 html::-webkit-scrollbar{
     width: 1rem;
 }
 html::-webkit-scrollbar-track{
     background: #444444;
 }
 html::-webkit-scrollbar-thumb{
     background: var(--main-color);
     border-radius: 5rem;
 }
 body{

     background: #222;
 }


 /* nav edit */
 .dropdown__link{
    position:relative;
    bottom: 32px;
 }
@media screen and (max-width: 1118px){
 .nav__logo{
    position: relative;
    right: 120px;
    
 }
 
 .nav__toggle{
    position: relative;
    left: 90px;

 }}

  /* slide show */
  @media screen and (min-width: 1238px){
    .slider{
        width: 900px;
        
        height: 1000px;
        margin-top: 2px;
        position: relative;
        left: 200px;
        overflow: hidden;
        align-items: center;
    }
  }

  .slider{
    width: 900px;
    max-width: 100vw;
    height: 500px;
    margin-top: 2px;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
    .row1{
    align-items: center;
    position: relative;
    right: 20px;
    }
}

 /* slide show */
 /* flex of the box*/
 .titl{
    font-size: 6rem;
    
    color: var(--main-color);
    padding: 1rem 0;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgba(248, 111, 6, 0.926);
 }
  .row1{
    width: 100%;
    height: 100%;
    padding-top:5px ;
    padding-left: 25px;
    padding-right: 15px;
    position: relative;
    right: 50px;
    
    
    
}
.col-1{
    float: left;
    width: auto;
    height: auto;
    margin-top: 20px;
    border: solid;
   
    
    
    
  
}

/*       flex of the box*/
.container {
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.small-container{
    max-width: 95%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 200px;
  
  color: #cfa286;
    background-position: center;
    
}
.item-container {
    position: relative;
    margin: 24px;
    width: 380px;
    height: 500px;
    overflow: hidden;
    background-color: #000000;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(217, 125, 19, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    background-color: #ffeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}

.info {
    color: black;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color:#f1683a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgb(255, 133, 3);
}

