
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat+Alternates:wght@100&family=Noto+Serif&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Poiret+One&family=Poppins:ital,wght@1,300&family=Roboto&display=swap');
:root{
    --main-color: rgb(234, 191, 139);
}

:root{
    --main-color: rgb(234, 191, 139);
}
*{
    font-family: 'Poiret One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #444444;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background: #222;
}
/*    navigation*/
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 6rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 2rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 2rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
 
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 100px;
  height: 32px;
  background-color: #f1683a ;
  font-family:sans-serif ;
  
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: #ee5b29 ;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
  
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
  
  
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(360deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: grab;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;

}

.dropdown__link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: rgb(107, 97, 90);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i{
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover{
  background-color:var(--main-color);
}

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
   
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  
}

/* carousel */
.carousel{
    height: 100vh;
    margin-top: 100px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
   
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
   
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 50;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 83%;
    right: 42%;
    z-index: 50;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(212, 201, 193, 0.267);
    border: none;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #ee660b;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 50;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

   /* service we give*/
   .heading{
    font-size: 4rem;
    color: var(--main-color);
    padding: 1rem 0;
    text-align: center;
   }
   .service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.service .box-container .box{
    border-radius: .5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;
}
.service .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main-color);
    color: #fff;
}
.service .box-container .box h3{
    font-size: 2rem;
    color: var(--main-color);
    padding: 1rem 0;
}
.service .box-container .box p{
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.8;
}

.job-more ,
.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 20px auto;
    width: 200px;
    background-color: var(--main-color);
    color: var(--primarycolor);
    border: 1px solid #333;
    border-radius: 20px;
    cursor: pointer;
}
.job-more:hover, .btn:hover{
    background-color:#f1683a ;
    color: var(--whiteColor);
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .row .image{
    flex: 1 1 45rem;
    padding: 1rem;
}
.about .row .image img{
    width: 100%;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--main-color);
}

.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3{
    font-size: 3.5rem;
    color: #fff;

}

.about .row .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 2;
    
}
.site{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.par2{
  color: #fff;
}
.par2:hover{
  color: antiquewhite;
  cursor: pointer;
}
.container2{
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: black;
    background-color: #222;
}
.testi{
    max-width: 900px;
    margin: 0 auto;
}
.test {
  color: #fff;
}
.test2{
  color: #fff;
  font-size: 30px;
}
.hrline{
  color: #eee;
}
.par{
  color: #fff;
}
.testi .head{
    text-align: center;
    margin-bottom: 60px;
}
.testi .head h3{
    font-size: 34px;
    font-weight: 800;
}

.testi .thumbnail2{
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}
.testi .thumbnail2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testi .thumbnail2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: rgba(255, 255, 255, 0.752);
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: -1;
    box-shadow: var(#000000);
}
.testi .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
}
.testi .aside{
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.testi .aside  .par{
    position: relative;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
}
.testi .aside  .par::before,
.testi .aside .par::after{
    font-family: 'Poiret One', sans-serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    color: #fff;
    height: 40px;
    z-index: -1;
}
.testi .aside .par::before{
    content: open-quote;
    top: -40px;
    left: 10px;
}
.testi .aside .par::after{
    content: close-quote;
    right: 0;
}

.testi .aside .name{
    position: relative;
    width: fit-content;
    line-height: 1;
}
.testi .aside .name h4{
    font-size: 22px;
    font-weight: 800;
    color: rgb(244, 244, 244);
    opacity: .8;
}
.testi .aside .name .par2{
    font-size: 12px;
    text-align: right;
}

.testi :is(.swiper-button-next, .swiper-button-prev){
    background-color: rgb(255, 255, 255);
    top: 35%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: background-color .3s;
    box-shadow: #f1f0f0;
}
.testi :is(.swiper-button-next, .swiper-button-prev):hover{
    background-color: aliceblue;
}
.testi :is(.swiper-button-next, .swiper-button-prev)::after{
    font-size: 16px;
    font-weight: 800;
    color: var(--white-color);

}
.btn{
  margin-left: 20px;
}

@media screen and (min-width: 768px){
    .testi .wrapper{
        flex-direction: row;
        padding: 30px 100px;
    }
    .testi .thumbnail2{
        width: 200px;
        height: 200px;
    }
}

/*     tetimonil*/
.row1{
  display: flex;
  
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.row1{
  padding: 50px;
}
.col-3{
  flex-basis: 30%;
  min-width: 25px;
  margin-bottom: 30px;
  background-color: honeydew;}
.col-3 img{
  width:90%;
  padding:10%;
  height: 90%;
  
}
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 10px;
  box-shadow: 0 0 30px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;

}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;

}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #090808;
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}


.or{
 color: white;
 
}
button a{
  text-decoration: none;
}
/*-------footer------*/
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;


}
.footer-col-2 img{
  height: 70px;
  width: 180px;
  margin-bottom: 20px;
}
.footer{
  background-color: rgb(245, 228, 228);
  
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: white;
}
.footer h3{
  color: white;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;

}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}



/*-------footer------*/
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.footer-col-2 img{
  height: 70px;
  width: 180px;
  margin-bottom: 20px;
}
.footer{
  background-color: rgb(128, 128, 128);
  
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: white;
}
.footer h3{
  color: white;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;

}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}

.footer {
  padding: 2rem 2rem;
  background-color: black;
  margin-top: 70px;
  
  
}
.footer .container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer li + li {
  margin-top: 0.7rem;
  list-style: none;
}
.footer li{
  list-style: none;
  font-size: 15px;
}
.footer a {
  font-size: 1.1rem;
  color: rgb(184, 160, 160);
}
.footer img {
  width: 40px;
  height: 40px;
}
.footer .socials {
  display: flex;
  gap: 1rem;
}
.footer .copyright {
  color: rgb(194, 175, 175);
  font-size: 1rem;
  max-width: 1000px;
  margin: 1rem auto;  
  font-size: 15px;
}

